md-tabs(
  md-selected='settings.selectedTabIndex',
  md-no-bar='',
  md-no-pagination='',
  md-dynamic-height='',
  ng-show='settings.appearance.chatters'
)
  md-tab(ng-repeat='channel in settings.channels', label='...')
    chatters(channel='channel')
  md-tab(label='...')
    |   
md-button.toggle-button(
  aria-label='Viewer List',
  md-no-ink='',
  ng-click='settings.appearance.chatters = !settings.appearance.chatters',
  ng-class='toggleButtonClasses()'
)
  md-tooltip(md-autohide='', ng-if='settings.appearance.chatters')
    | Hide list
  md-tooltip(md-autohide='', ng-if='!settings.appearance.chatters')
    | Show viewer list
  i.zmdi.zmdi-chevron-up
