.content.slide(mobx-autorun, ng-if='vm.stream')
  span.title(title='{{vm.channel.status}}') {{vm.channel.status}}
  .footer
    span.game
      i.zmdi.zmdi-gamepad
      | {{vm.channel.game}}
    br
    span.host-button(ng-click='vm.host()', ng-if='!vm.hosting')
      i.zmdi.zmdi-thumb-up
      | Host
    span.host-button(ng-click='vm.unhost()', ng-if='vm.hosting') Unhost
    span.followers
      i.zmdi.zmdi-favorite
      | {{vm.channel.followers}}
    span.viewers
      i.zmdi.zmdi-account
      | {{vm.stream.viewers}}
  .hover-content(layout='row', layout-align='center center')
    i.zmdi.zmdi-hearing.play(
      ng-if='vm.streamlink || vm.livestreamer',
      ng-click='vm.playMediaplayer(true)'
    )
      md-tooltip(md-autohide='') Audio Only
    i.zmdi.zmdi-play-circle-outline.play(
      ng-if='vm.streamlink || vm.livestreamer',
      ng-click='vm.playMediaplayer()'
    )
      md-tooltip(md-autohide='')
        | {{vm.streamlink ? 'Streamlink' : 'Livestreamer'}}
    i.zmdi.zmdi-open-in-new.play(ng-click='vm.playTwitch()')
      md-tooltip(md-autohide='') Twitch
    md-button.hide-button(
      ng-click='vm.settings.appearance.thumbnail = false',
      aria-label='Hide thumbnail'
    )
      md-tooltip(md-autohide='') Hide thumbnail
      i.zmdi.zmdi-close
  img.preview(ng-src='{{vm.img}}')
md-divider(ng-if='vm.stream')
