.overflow-container
  form(ng-submit='vm.input()')
    md-input-container.input-container(ng-class='{disabled: !vm.irc.ready}')
      label
        span(ng-if='vm.irc.ready') Send a message
        span(ng-if='!vm.irc.ready') Disconnected from server
      input#main-input(
        spellcheck='true',
        ng-disabled='!vm.irc.ready',
        ng-model='vm.session.message',
        ng-trim='false',
        ng-focus='vm.session.inputFocused = true',
        ng-blur='vm.session.inputFocused = false',
        ng-change='vm.change()',
        ng-keyup='vm.keyUp($event)',
        tab-completion='',
        tab-completion-fn='vm.getAutoCompleteStrings()'
      )
      i.zmdi.zmdi-mood.emote-menu-button(ng-click='vm.toggleEmoteMenu()')
emote-menu(ng-if='vm.emoteMenu')
