.chat-lines(
  mobx-autorun,
  ng-class='{"variable-line-height": vm.settings.appearance.variableLineHeight}'
)
  .chat-line(
    ng-repeat='m in vm.messages',
    ng-class='::vm.messageClasses(m)',
    ng-style='::vm.messageInlineStyles(m)'
  )
    span.timestamp.lighter(ng-if='::vm.settings.chat.timestamps')
      | {{::m.at | date: 'H:mm'}}  
    span.badges(ng-if='::m.user')
      span.badge(
        ng-repeat='(name, version) in ::m.user.badges',
        data-title='{{::vm.badgeTitle(name, version)}}',
        ng-style='::vm.badgeBg(name, version)'
      )
      span.badge.ffz(data-title='FFZ Supporter', ng-if='::m.user["ffz_donor"]')
    span.username(
      ng-if='::m.user',
      ng-click='vm.selectUsername(m.user.username)',
      ng-style='::{color: vm.calculateColor(m.user.color)}'
    )
      | {{::m.user['display-name']}}
      span(ng-if='::vm.displayNameIsDifferent(m)')
        | ({{::m.user['username']}})
    span.username(
      ng-if='::!m.user && m.type === "whisper"',
      ng-click='vm.selectUsername(m.from)'
    ) {{::m.from}}
    i.zmdi.zmdi-chevron-right.whisper-arrow(ng-if='::m.type === "whisper"')
    span.username(
      ng-if='::m.type === "whisper"',
      ng-click='vm.selectUsername(m.to)'
    ) {{::m.to}}
    span.separator(
      ng-if='::m.type === "chat" || m.type === "whisper" || m.type === "cheer"'
    ) : 
    span.separator(ng-if='::m.type === "action"')  
    span.message(ng-bind-html='::vm.trusted(m.message)')
  .auto-scroll-notice(ng-if='!vm.autoScroll()', ng-click='vm.scrollDown()')
    | More messages below
